<!DOCTYPE html>
<html>
 <head>
   <title>Aspirational Vegetables</title>
   <link rel='stylesheet' href='/stylesheets/style.css' />
   <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
   <script type="text/javascript" src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
   <script type="text/javascript" src="/javascripts/aspirationalvegetables.js"></script>
 </head>
 <body>
   <div class="container">
     <h1>To Continue, Login with Facebook:</h1>
      <a href="/login/facebook" class="button">Join or Login With Facebook</a>
    </div>
   </div>
 </body>
</html>
