<!DOCTYPE html>
<html>
 <head>
   <title>Aspirational Vegetables</title>
   <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
   <link rel='stylesheet' href='/stylesheets/style.css' />
   <link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">
   <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
   <script type="text/javascript" src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
   <script type="text/javascript" src="/javascripts/aspirationalvegetables.js"></script>
 </head>
 <body>
   <div class="container">
     <h1>Aspirational Vegetables!</h1>
     <p>How often have you bought vegetables with the sincere intent of consuming them and taking their healthy power into your body, but then forgot about them the very second you locked them in the chilly tomb of your refrigerator’s crisper drawer? Too often, I'd wager! Welcome to Aspirational Vegetables. Let’s fix that.</p>

     <p>Our goal is to help you keep track of your groceries and their expiration dates, as well as to help you devise new and exciting recipes based on the current contents of your pantry and fridge! Together, we can save you money, reduce your wasted food, and introduce you to delightful new dishes.</p>

     <p>Interested? <a href="/login/facebook" class="button">Sign in using Facebook.</a></p>
    </div>
   </div>
 </body>
</html>
