<!DOCTYPE html>
<html>
 <head>
   <title>Aspirational Vegetables</title>
   <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
   <link rel='stylesheet' href='/stylesheets/style.css' />
   <link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">
   <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
   <script type="text/javascript" src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
   <script type="text/javascript" src="/javascripts/aspirationalvegetables.js"></script>
 </head>
 <body>
   <div class="container">
     <h1>Aspirational Vegetables!</h1>
     <p>Welcome to Aspirational Vegetables! What is an aspirational vegeitable you ask? Well, the answer is pretty simple: an aspirational vegetable is that kale you bought 3 weeks ago thinking, "I love kale! I aspire to be the kind of person who eats kale on the regular!" But now that kale sits at the bottom of your crisper drawer, forgotten, and slowly turning into slime that you just don't want to deal with. </p>
     <p>Damn. Kale aspirations dashed!</p>
     <p>Our goal is to help you keep track of your groceries, their expiration dates, and prevent them from meeting a similar fate. We hope to save you money, and reduce your food waste.</p>
     <p>Are you in? Then go ahead: <a href="/login/facebook" class="button">join or log in with Facebook.</a></p>
    </div>
   </div>
 </body>
</html>
