<!DOCTYPE html>
<html>
 <head>
   <title></title>
   <link rel='stylesheet' href='/stylesheets/style.css' />
 </head>
 <body>
   <div class="container">
     <h1>To Continue, Login with Facebook:</h1>
      <a href="/login/facebook" class="button">Join or Login With Facebook</a>
    </div>
   </div>
 </body>
</html>
