
<h1>Welcome <%= user.name %>!</h1>
<div class="nav">
  <h2>Score: <%= user.score %></h2>
  <a href="/logout" class="button">Logout</a>
</div>

<div class="dashboard">
  <a href="/fridge" class="button">Create a Fridge!</a>
</div>
