<!DOCTYPE html>
<html>
 <head>
   <title>Aspirational Vegetables</title>
   <link rel='stylesheet' href='/stylesheets/style.css' />
   <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
   <script type="text/javascript" src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
   <script type="text/javascript" src="/javascripts/aspirationalvegetables.js"></script>
 </head>
 <header>

 </header>
 <body>

<h1>Here's Your Challenge!</h1>

<% if (locals.basic === true) { %>
  <h1>What would you like to make?</h1>
<% for (var index in locals.recipes) { %>
  <% var id = locals.recipes[index].id %>
  <!--  locals.[index] + .id, .title, .image (jpg), .usedIngredientCount, .missedIngredientCount, .likes-->
  <a href="recipes/<%=id%>"><%= locals.recipes[index].title %></a>
<% } %>
<% } else { %>
  <%= locals.time %>
  <% } %>

</body>
