<!DOCTYPE html>
<html>
 <head>
   <title>Aspirational Vegetables</title>
   <link rel='stylesheet' href='/stylesheets/style.css' />
   <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
   <script type="text/javascript" src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
   <script type="text/javascript" src="/javascripts/aspirationalvegetables.js"></script>
 </head>
 <header>

 </header>
 <body>


<h1>Here's Your Challenge!</h1>

What do you want to make?

<% for (var index in locals) { %>
  <% var id = locals[index].id %>
  <a href="recipes/<%=id%>"><%= locals[index].title %></a>
<% } %>

</body>
